<%= form_with(model: @profile, class: "space-y-4 max-w-md mx-auto") do |f| %>

  <div class="flex flex-col items-start space-y-2">
    <%= f.label :name, class: "text-lg font-medium" %>
    <%= f.text_field :name, class: "border border-gray-300 text-base p-2 w-full rounded-md" %>
  </div>

  <div>
    <% if current_user&.profile&.avatar&.attached? %>
      <%= f.label :avatar, class: "text-lg font-medium" %>
      <%= image_tag current_user.profile.avatar, class:"rounded-full w-32 h-32 object-cover" %>
      <div class="flex flex-col items-start space-y-2">
        <%= f.file_field :avatar, class: "border border-gray-300 text-base p-2 w-full rounded-md mt-4" %>
      </div>
    <% else %>
      <div class="flex flex-col items-start space-y-2">
        <%= f.label :avatar, class: "text-lg font-medium" %>
        <%= f.file_field :avatar, class: "border border-gray-300 text-base p-2 w-full rounded-md" %>
      </div>
    <% end %>
  </div>

  <div class="flex flex-col items-start space-y-2  mt-10">
    <%= f.label :areas, class: "text-lg font-medium" %>
    <%= f.text_field :areas, class: "border border-gray-300 text-base p-2 w-full rounded-md" %>
  </div>

  <div class="flex flex-col items-start space-y-2">
    <%= f.label :event, class: "text-lg font-medium" %>
    <%= f.text_field :event, class: "border border-gray-300 text-base p-2 w-full rounded-md" %>
  </div>

  <div class="flex flex-col items-start space-y-2">
    <%= f.label :goal, class: "text-lg font-medium" %>
    <%= f.number_field :goal, step: "0.01", class: "border border-gray-300 text-base p-2 w-full rounded-md" %>
  </div>

  <div class="flex flex-col items-start space-y-2">
    <%= f.label :self_introduction, class: "text-lg font-medium" %>
    <%= f.text_area :self_introduction, class: "border border-gray-300 text-base p-2 w-full rounded-md h-24" %>
  </div>

  <div class="flex justify-center mt-4">
    <%= f.submit class: "px-4 py-2 bg-blue-500 text-white rounded-lg shadow-md hover:bg-blue-600 transition" %>
  </div>

<% end %>