<h1> プロフィール </h1>

<div>名前：<%= current_user.profile.name %></div>
<div>所属地：<%= current_user.profile.areas %></div>
<div>専門種目：<%= current_user.profile.event %></div>
<div>目標：<%= current_user.profile.goal %></div>
<div>自己紹介：<%= current_user.profile.self_introduction %></div>

<%= link_to '編集', edit_profile_path(@profile) %>

<br>
<%= link_to '投稿一覧へ', posts_path %>