<div class="bg-white shadow-lg rounded-lg p-6 w-full max-w-lg mx-auto mt-4">
  <%= link_to "ログアウト", destroy_user_session_path, data: { 'turbo-method': :delete}, class: "" %>
  <h2 class="text-xl font-bold text-center border-b pb-2 mb-4">プロフィール</h2>

  <div class="space-y-4">
    <div class="flex gap-2 items-center">
      <span class="font-semibold">名前：</span>
      <span><%= current_user.profile.name %></span>
    </div>
    <div>
    <div class="flex gap-2 items-center">
      <span class="font-semibold">アイコン：</span>
        <% if current_user&.profile&.avatar.attached? %>
          <%= image_tag current_user.profile.avatar, class:"rounded-full w-32 h-32 object-cover" %>
        <% end %>
    </div>
    </div>
    <div class="flex gap-2 items-center">
      <span class="font-semibold">所属地：</span>
      <span><%= current_user.profile.areas %></span>
    </div>
    <div class="flex gap-2 items-center">
      <span class="font-semibold">専門種目：</span>
      <span><%= current_user.profile.event %></span>
    </div>
    <div class="flex gap-2 items-center">
      <span class="font-semibold">目標：</span>
      <span><%= current_user.profile.goal %></span>
    </div>
    <div>
      <span class="font-semibold">自己紹介：</span>
      <p class="mt-1 bg-gray-100 p-3 rounded-md"><%= current_user.profile.self_introduction %></p>
    </div>
  </div>

  <div class="text-center mt-6">
    <%= link_to '編集', edit_profile_path(@profile), class: "inline-block bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition" %>
  </div>
</div>
<br>
<div class="bg-white shadow-lg rounded-lg p-6 w-full max-w-lg mx-auto">
  <h2 class="text-xl font-bold text-center border-b pb-2 mb-4">いいねを送った投稿</h2>
    <div class="flex gap-2 items-center justify-center">
      <%= link_to "一覧へ", liked_posts_user_path(@user)  ,class: "font-semibold inline-block bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition" %>
    </div>
</div>
<br>

<div data-controller="select-event" class="bg-white shadow-lg rounded-lg p-6 w-full max-w-lg mx-auto">
  <h2 class="text-xl font-bold text-center border-b pb-2 mb-4">種目選択</h2>

  <%= form_with url: profile_path(@user), method: :get, local: false, data: { target: "select-event.form" }, class: "space-y-4" do |f| %>
    <div>
      <%= f.label :event, "カテゴリー", class: "block font-semibold mb-1" %>
      <%= f.select :event, ['短距離', '中長距離', '跳躍', '投てき'], { prompt: "カテゴリーを選択してください" },
            { class: "w-full border border-gray-300 p-2 rounded-md",
              data: { action: "change->select-event#changeDetail", target: "select-event.event" } } %>
    </div>

    <div>
      <%= f.label :event_detail, "種目", class: "block font-semibold mb-1" %>
      <%= f.select :event_detail, [], { prompt: "種目を選択してください" },
            { class: "w-full border border-gray-300 p-2 rounded-md",
              data: { action: "change->select-event#updateChart", target: "select-event.eventDetail" } } %>
    </div>
  <% end %>

  <div class="mt-6 mb-12">
    <h3 class="text-lg font-bold text-center">シーズン推移</h3>
    <canvas data-select-event-target="chart" class="w-full mt-4"></canvas>
  </div>

</div>