<div class="flex items-center justify-center">
  <%= form_with model: @competition_result_form, url: (@competition_result_form.persisted? ? competition_result_path(@competition_result) : competition_results_path), data: { turbo: false } do |f| %>
    <div class="text-center max-w-4xl mx-auto grid grid-cols-1 gap-4">

      <div id="select" class="grid grid-cols-2 items-center">
        <%= f.label :event_type, '種目※', class: "mr-4" %>
        <%= f.select :event_type, @event_type, {include_blank: '選択してください' }, { id: 'event_type_select', class: 'border border-gray-300 p-1 rounded' } %>
      </div>

      <div id="select" class="form sprint grid grid-cols-2 items-center" style="visibility: hidden; position: absolute;">
        <%= f.label :sprint_detail, '詳細※', class: "mr-4" %>
        <%= f.select :sprint_detail, Sprint.sprint_details.keys.map { |k| [ k, k ] }, { include_blank: "選択してください" }, { id: 'event_detail_select', class: 'border border-gray-300 p-1 rounded sprint-field' } %>
      </div>

      <div id="select" class="form middle-and-long grid grid-cols-2 items-center" style="visibility: hidden; position: absolute;">
        <%= f.label :middle_and_long_detail, '詳細※', class: "mr-4" %>
        <%= f.select :middle_and_long_detail, MiddleAndLong.middle_and_long_details.keys.map { |k| [ k, k ] }, { include_blank: "選択してください" }, { id: 'event_detail_select', class: 'border border-gray-300 p-1 rounded middle-and-long-field' } %>
      </div>

      <div id="select" class="form jumping grid grid-cols-2 items-center" style="visibility: hidden; position: absolute;">
        <%= f.label :jumping_detail, '詳細※', class: "mr-4" %>
        <%= f.select :jumping_detail, Jumping.jumping_details.keys.map { |k| [ k, k ] }, { include_blank: "選択してください" }, { id: 'event_detail_select', class: 'border border-gray-300 p-1 rounded jumping-field' } %>
      </div>

      <div id="select" class="form throwing grid grid-cols-2 items-center" style="visibility: hidden; position: absolute;">
        <%= f.label :throwing_detail, '詳細※', class: "mr-4" %>
        <%= f.select :throwing_detail, Throwing.throwing_details.keys.map { |k| [ k, k ] }, { include_blank: "選択してください" }, { id: 'event_detail_select', class: 'border border-gray-300 p-1 rounded throwing-field' } %>
      </div>

      <div class="grid grid-cols-2  items-center">
        <%= f.label :date, '日付※', class: "mr-4" %>
        <%= f.date_field :date, class: "border border-gray-300 p-1 rounded"%>
      </div>

      <div class="grid grid-cols-2  items-center">
        <%= f.label :name, '大会名※', class: "mr-4" %>
        <%= f.text_field :name, class: "border border-gray-300 p-1 rounded" %>
      </div>

      <div class="grid grid-cols-2  items-center">
        <%= f.label :venue, '会場', class: "mr-4" %>
        <%= f.text_field :venue, class: "border border-gray-300 p-1 rounded" %>
      </div>

      <div class="form sprint grid grid-cols-2  items-center" style="visibility: hidden; position: absolute;">
        <%= f.label :sprint_record, 'タイム', class: "mr-4" %>
        <%= f.number_field :sprint_record, step: "0.01", class: "border border-gray-300 p-1 rounded sprint-field" %>
      </div>

      <div class="form sprint grid grid-cols-2  items-center" style="visibility: hidden; position: absolute;">
        <%= f.label :sprint_wind_speed, '風速', class: "mr-4" %>
        <%= f.number_field :sprint_wind_speed, step: "0.1", class: "border border-gray-300 p-1 rounded sprint-field" %>
      </div>

      <div class="form middle-and-long grid grid-cols-2  items-center" style="visibility: hidden; position: absolute;">
        <%= f.label :middle_and_long_record, 'タイム', class: "mr-4" %>
        <%= f.number_field :middle_and_long_record, step: "0.01", class: "border border-gray-300 p-1 rounded middle-and-long-field" %>
      </div>

      <div class="lap-time-area">
        <div class="form middle-and-long grid grid-cols-2  items-center" style="visibility: hidden; position: absolute;">
          <%= f.label :lap_distance, '距離', class: "mr-4" %>
          <%= f.number_field :lap_distance, class: "border border-gray-300 p-1 rounded middle-and-long-field" %>
        </div>

        <div class="form middle-and-long grid grid-cols-2  items-center" style="visibility: hidden; position: absolute;">
          <%= f.label :lap_time, 'ラップタイム', class: "mr-4" %>
          <%= f.number_field :lap_time, step: "0.01", class: "border border-gray-300 p-1 rounded middle-and-long-field" %>
        </div>
      </div>

      <div class="form middle-and-long grid grid-cols-2  items-center" style="visibility: hidden; position: absolute;">
        <%= f.label :pacer, 'ペーサー', class: "mr-4" %>
        <%= f.select :pacer, {'有': '有', '無': '無' }, { include_blank: true}, class: "border border-gray-300 p-1 rounded middle-and-long-field" %>
      </div>

      <div class="form jumping grid grid-cols-2  items-center" style="visibility: hidden; position: absolute;">
        <%= f.label :jumping_record, '記録', class: "mr-4" %>
        <%= f.number_field :jumping_record, step: "0.01", class: "border border-gray-300 p-1 rounded jumping-field" %>
      </div>

      <div class="form jumping grid grid-cols-2  items-center" style="visibility: hidden; position: absolute;">
        <%= f.label :jumping_wind_speed, '風速', class: "mr-4" %>
        <%= f.number_field :jumping_wind_speed, step: "0.1", class: "border border-gray-300 p-1 rounded jumping-field" %>
      </div>

      <div class="form jumping grid grid-cols-2  items-center" style="visibility: hidden; position: absolute;">
        <%= f.label :jumping_approach_distance, '助走距離', class: "mr-4" %>
        <%= f.number_field :jumping_approach_distance, step: "0.01",  class: "border border-gray-300 p-1 rounded jumping-field" %>
      </div>

      <div class="form throwing grid grid-cols-2  items-center" style="visibility: hidden; position: absolute;">
        <%= f.label :throwing_record, '記録', class: "mr-4" %>
        <%= f.number_field :throwing_record, step: "0.01",  class: "border border-gray-300 p-1 rounded throwing-field" %>
      </div>


      <div class="form throwing grid grid-cols-2  items-center" style="visibility: hidden; position: absolute;">
        <%= f.label :throwing_approach_distance, '助走距離', class: "mr-4" %>
        <%= f.number_field :throwing_approach_distance, step: "0.01",  class: "border border-gray-300 p-1 rounded throwing-field" %>
      </div>

      <div class="grid grid-cols-2  items-center">
        <%= f.label :memo, 'メモ', class: "mr-4" %>
        <%= f.text_area :memo, class: "border border-gray-300 p-1 rounded" %>
      </div>

      <%= f.submit '送信',class: "py-1 px-3 rounded bg-blue-500 text-white hover:bg-blue-400" %>
    </div>
  <% end %>
</div>
