<%= link_to '←', competition_results_path, class: "text-3xl" %>
<div class="text-center">
    <p class="text-2xl">大会詳細</p>
    <p>大会名:<%= @competition_result.name %></p>
    <p>開催場所：<%= @competition_result.venue %></p>
    <p>開催日：<%= @competition_result.date%></p>
    <p>メモ：<%= @competition_result.memo %></p>
    <%= link_to '編集', edit_competition_result_path, class: "py-1 px-2 rounded bg-blue-400" %>
<%= link_to '削除', competition_result_path, data: { 'turbo-method': :delete, turbo_confirm: '削除してよろしいですか？'}, class: "py-1 px-2 rounded bg-red-400" %>
</div>
