<%= link_to '←', competition_results_path, class: "text-3xl" %>

<div class="flex flex-col items-center justify-center">
  <div class="text-center max-w-4xl mx-auto grid grid-cols-1 gap-4">
    <p class="text-2xl pb-5">大会記録詳細</p>

    <div class="grid grid-cols-2 gap-2 items-center">
      <p class="text-left font-bold">大会名:</p>
      <p class="text-left"><%= @competition_result.name %></p>
    </div>

    <div class="grid grid-cols-2 gap-2 items-center">
      <p class="text-left font-bold">開催場所：</p>
      <p class="text-left"><%= @competition_result.venue %></p>
    </div>

    <div class="grid grid-cols-2 gap-2 items-center">
      <p class="text-left font-bold">開催日：</p>
      <p class="text-left"><%= @competition_result.date%></p>
    </div>

    <% if @competition_result.event_type == 'sprint' %>
      <div class="grid grid-cols-2 gap-2 items-center">
        <p class="text-left font-bold">種目：</p>
        <p class="text-left"><%= I18n.t("activerecord.attributes.sprint.sprint_details.#{@competition_result.sprints.first&.sprint_detail}", default: @competition_result.sprints.first&.sprint_detail) %>
      </div>

      <div class="grid grid-cols-2 gap-2 items-center">
        <p class="text-left font-bold">タイム：</p>
        <p class="text-left"><%= @competition_result.sprints.first.record %>秒</p>
      </div>

      <div class="grid grid-cols-2 gap-2 items-center">
        <p class="text-left font-bold">風速：</p>
        <p class="text-left"><%= @competition_result.sprints.first.wind_speed %>m</p>
      </div>
    <% end %>

    <% if @competition_result.event_type == 'middle_and_long' %>
      <div class="grid grid-cols-2 gap-2 items-center">
        <p class="text-left font-bold">種目：</p>
        <p class="text-left"><%= I18n.t("activerecord.attributes.middle_and_long.middle_and_long_details.#{@competition_result.middle_and_longs.first&.middle_and_long_detail}", default: @competition_result.middle_and_longs.first&.middle_and_long_detail) %></p>
      </div>

      <div class="grid grid-cols-2 gap-2 items-center">
        <p class="text-left font-bold">タイム：</p>
        <p class="text-left"><%= @competition_result.middle_and_longs.first&.record %>秒</p>
      </div>

      <div class="grid grid-cols-2 gap-2 items-center">
        <p class="text-left font-bold">ペーサー：</p>
        <p class="text-left"><%= @competition_result.middle_and_longs.first.pacer %></p>
      </div>

      <% @competition_result.middle_and_longs.each do |mal|%>
        <% mal.lap_times.order(:distance).each do |lap|%>
          <div class="grid grid-cols-2 gap-2 items-center">
            <p class="text-left font-bold">距離</p>
            <p class="text-left"><%= lap&.distance %>m</p>
          </div>

          <div class="grid grid-cols-2 gap-2 items-center">
            <p class="text-left font-bold">ラップタイム：</p>
            <p class="text-left"><%= lap&.time %>秒</p>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <% if @competition_result.event_type == 'jumping' %>
      <div class="grid grid-cols-2 gap-2 items-center">
        <p class="text-left font-bold">種目：</p>
        <p class="text-left"><%= I18n.t("activerecord.attributes.jumping.jumping_details.#{@competition_result.jumpings.first&.jumping_detail}", default: @competition_result.jumpings.first&.jumping_detail) %></p>
      </div>

      <div class="grid grid-cols-2 gap-2 items-center">
        <p class="text-left font-bold">記録：</p>
        <p class="text-left"><%= @competition_result.jumpings.first.record %>m</p>
      </div>

      <div class="grid grid-cols-2 gap-2 items-center">
        <p class="text-left font-bold">風速：</p>
        <p class="text-left"><%= @competition_result.jumpings.first.wind_speed %>m</p>
      </div>

      <div class="grid grid-cols-2 gap-2 items-center">
        <p class="text-left font-bold">助走距離：</p>
        <p class="text-left"><%= @competition_result.jumpings.first.approach_distance %>m</p>
      </div>
    <% end %>

    <% if @competition_result.event_type == 'throwing' %>
      <div class="grid grid-cols-2 gap-2 items-center">
        <p class="text-left font-bold">種目：</p>
        <p class="text-left"><%= I18n.t("activerecord.attributes.throwing.throwing_details.#{@competition_result.throwings.first&.throwing_detail}", default: @competition_result.throwings.first&.throwing_detail) %></p>
      </div>

      <div class="grid grid-cols-2 gap-2 items-center">
        <p class="text-left font-bold">記録：</p>
        <p class="text-left"><%= @competition_result.throwings.first.record %>m</p>
      </div>

      <% if @competition_result.throwings.first.throwing_detail == 'javelin_throw' %>
        <div class="grid grid-cols-2 gap-2 items-center">
          <p class="text-left font-bold">助走距離：</p>
          <p class="text-left"><%= @competition_result.throwings.first.approach_distance %>m</p>
        </div>
      <% end %>
    <% end %>

    <div class="grid grid-cols-2 gap-2 items-center">
      <p class="text-left font-bold">メモ：</p>
      <p  class="text-left"><%= @competition_result.memo %></p>
    </div>

    <%= link_to '編集', edit_competition_result_path, class: "py-1 px-2 rounded bg-blue-400" %>
    <%= link_to '削除', competition_result_path, data: { 'turbo-method': :delete, turbo_confirm: '削除してよろしいですか？'}, class: "py-1 px-2 rounded bg-red-400" %>
  </div>
</div>
